body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#searchBox {
  margin-bottom: 20px;
  margin-left: 40px;
  display: inline-block;
  text-align: left;
}

#searchText {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fetch-data {
  margin-bottom: 20px;
  margin-left: 40px;
  display: inline-block;
  text-align: left;
}

#fetch-data {
  padding: 10px;
  width: 70px;
  font-size: 16px;
  border-radius: 5px;
}

#fetch-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#fetch-btn:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #1b1b1b;
  background-color: #fff;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #e9ecef;
}

label {
  font-weight: bold;
}
@media (max-width: 750px) {
  #searchBox,
  .fetch-data {
    display: block; /* Stack vertically */
    width: 100%;
    text-align: center; /* Center align content */
  }

  #searchText,
  #fetch-data,
  #fetch-btn {
    width: 100%;
    margin-right: 40px;
    margin-bottom: 10px; /* Add some spacing between elements */
  }

  #fetch-btn {
    width: auto; /* Allow button to resize naturally */
  }
}
